.container {
    min-height: 100vh;
    padding: 1rem;
  }
  
  .wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .twoContainers{
    display: flex;
    gap: 20px;
  }
.chartDiv {
    flex: 2; /* Asegúrate de que este div tenga suficiente espacio relativo */
    display: flex;
    justify-content: center;
    align-items: center;
}
.questionsDiv{
  flex: 1;
  display: flex;
}