.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 40px;
  }
  
  .userButton {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }

  
  @media (max-width: 768px) {
    .header {
      padding: 1rem 2rem;
    }
  }
  
  